<li id="{{ .Id }}" hx-target="closest li" hx-swap="outerHTML">
  <p>{{ .Id }}</p>
  <form hx-vals="#editForm_{{ .Id }}">
    <input placeholder="todo" type="text" name="title" value="{{ .Title }}" />
    <input placeholder="todo" type="text" name="content" value="{{ .Content }}" />
    <input name="done" type="checkbox" {{ if .Done }}checked{{ end }} />
    <button hx-put="/todo/{{ .Id }}" hx-trigger="click">저장</button>
    <button hx-get="/todo/cancel/{{ .Id }}" hx-trigger="click" >취소</button>
  </form>
</li>