<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://unpkg.com/htmx.org@1.9.9"
      integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
      crossorigin="anonymous"
    ></script>
    <title>go htmx todo</title>
  </head>
  <body>
    <h1>{{ .heading }}</h1>
    <form >
      <input placeholder="todo" type="text" name="title" />
      <input placeholder="todo" type="text" name="content" />
      <button hx-swap="beforeend" hx-target="#todo" hx-trigger="click" hx-post="/todo">
        add
      </button>
    </form>
    <ul id="todo">
      {{ range .todos }}
        <li id="{{ .Id }}" hx-target="closest li" hx-swap="outerHTML">
          <p>{{ .Id }}</p>
          <h2>{{ .Title }}</h2>
          <p>{{ .Context }}</p>
          <input type="checkbox" {{ if .Done }}checked{{ end }} />
          <button hx-get="/todo/edit/{{ .Id }}" hx-trigger="click">편집</button>
          <button hx-delete="/todo/{{ .Id }}" hx-trigger="click" >삭제</button>
        </li>
      {{ end }}
    </ul>
  </body>
</html>
